*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color:white;
   position: fixed;
   padding: 1.5rem;
    width: 100%;
    top: 0;
    z-index:  1;
  }
  body{
    background-color:white;
  }
  .main{
    background-color: white;
   
  }

  .menus{
    float: right;
    filter: invert(20);
    margin-top: 0.5rem;
    background-color:black;
    box-shadow: 0 0 2px lightgray;
    padding: 0.55rem;
    border-radius: 0.7rem;
    width: fit-content;
  }
 
  nav ul li a{
    color:black; 
    gap: 25px;
    font-family: 'Epilogue', sans-serif;
    text-decoration: none;
    font-size: 16px;
    }
    .logo{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 800;
        font-size: 20px;
        margin-top: 0.7rem;
    }
    #checkbtn{
        font-size: 20px;
        float: right;
        margin-top: 2rem;
        height: fit-content;
        width: fit-content;
        margin-right: 90px;
        cursor: pointer;
        display:none;
        align-self:center;
        color: white;
    }
   
   
   
    #check{
        display:none;
    }


    .menu-close {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 35px;
        color: black;
        cursor: pointer;
        float: right;
        background-color:white;
        box-shadow: 0 0 2px lightgray;
        padding: 0.4rem;
        height: fit-content;
        margin-top: 1rem;
        border-radius: 0.7rem;
        width: fit-content;
    }
    .main{
        margin-top: 11rem;
    }

    .hero{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 35px;  
        text-align: center;
        line-height: 3rem;
        font-weight: 530;
    }

    .heros{
        display: none;
    }

    p{
        text-align: center;
        font-family:"AkkuratMonoRegular",sans-serif;
        line-height: 1.5rem;
        margin: 0.5rem;
    }

    .p-btn {
        margin-top: 2.3rem;
       
        font-weight: 700;
        text-decoration: none;
        font-family:"AkkuratMonoRegular",sans-serif;
    }
    .install{
        margin-left: -1rem;
        float: left;
        
    }
    #a{
        text-decoration: none;
        margin-top: 1rem;
    }
    button,#a{
        display: flex;
       
         margin: auto;
         width: 90%;
         text-align: center;
         align-items: center;
         justify-content: center;
         background-color: black;
         padding: 0.2rem;
         color: white;
         text-decoration: none;
         border-radius: 0.4rem;
         border: none;
         
     }
     .cta{
        margin-top: 2rem;
     }
     .mobile-app-background{
      background-color: #fcca44;
      width: 100%;
      height: 300px;
      margin-top: -20rem;
      z-index: -1;
     }
     .mobile-img{
      margin: auto;
      display: flex;
      width: 300PX;
      margin-top: -3rem;
     }
     .mobile-app{
         margin-top: 5rem;
     }
.key-hide {
    width: 100%;
    overflow: hidden;
   background-color: black;
  position: absolute;
  padding: 1rem;
  margin-top: -1.4rem;
}

.box-keyframes {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}

.text .testi p {
    display: inline-block;
    margin: 0 50px;
    font-size: 17px;
    color: white;
    font-family:"AkkuratMonoRegular",sans-serif;
    font-weight: 600;
}

@keyframes scroll {
    to  {
transform: translate(-50%);
    }
   /*  0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    } */
}

    @keyframes scroll {
        to{
            transform: translate(calc(-50% - 5rem));
        }
        /* 0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        } */
    }
    
   
    .everything{
        background-color: #F5F5F5;
        padding-top: 4rem;
       
    }
      .every-header{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 35px;  
        text-align: center;
        line-height: 3rem;
        font-weight: 530;
        text-align: left;
        width: 80%;
        margin: auto;
        
    }
    .card{
        background-color: white;
        padding: 2rem;
        border-radius: 1rem;
       
        width: 80%;
        margin: auto;
        margin-top: 1rem;
     
    }

    .container{
        text-align: center;
        padding: 2em;
        margin: auto;
   
    } 
    #card{
        background-color:#9E92F4;
       
        padding-top: rem;
        padding: 2rem;
        border-radius: 1rem;  
        text-align: center;
    
    }  
    .card-head{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 23px;
        margin-top: 1rem;
        font-weight: 500;
        padding-top: rem;
      
    }
    .tag{
        background-color:#4ceb9f ;
        width: fit-content;
        padding: 0.3rem;
        float: right;
        font-size: 12px;
        margin-top: -2rem;
        z-index: 1;
        border-radius: 0.7rem;
        
        
    }
    #tag1{
        margin-top: -1.4rem;
        margin-right: -1rem;
    }  
    .pera-web{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  margin: auto;
  
    }
    .small{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 13px;
        font-weight: 200;
        line-height: 2;
    }
    #a{
        text-decoration: none;
    }
    #big{
     width: 100%;
     margin-top: -12rem;
   
    /*  display: flex;
     margin: auto;
     align-items: center; */
    }
    #card-head{
       font-weight: 600; 
       font-size: 24px;
       
    }
    #sml{
        padding: 0.5rem;
        font-weight: 900;
    }
    .container{
       
    }
    .everything{
        padding-bottom: 2rem;
    }
    .community-bckg{
        background-color: black;
        width: 100%;
        padding: 2rem;
        margin-top: 3rem;
        
    }
    .community{
        z-index: -1;
        margin-top: rem;
    }

   

    .cardi{
        background-color: #9E92F4;
        width: 90%;
        margin: auto;
     
        margin-top: -6rem;
    }
    .community-header{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 25px;
        font-weight: 600;
        color: white;
        margin-top: 1rem;
    }
    .pera-text{
        font-size: 13px;
        font-family:"AkkuratMonoRegular",sans-serif;
        margin-top: 1rem;
    }
    .roadmap-link a, .link{
        text-decoration: none;
        color: #fcca44;
    }
    .roadmap-link{
        margin-top: 4rem;
        font-family:"AkkuratMonoRegular",sans-serif;
        color: #fcca44;
    }
    .community-reviews{
        background-color:white;
        width: 90%;
        margin: auto;
        padding: 1rem;
        margin-top: 5rem;
        border-radius: 1rem;
    }
    .community-backgroud{
    
      background-color:white;
    margin-top: 3rem;
      padding: 3rem;
     
    }
    .star-background{
        background-color: #6557cf;
        width: 9rem;
        margin: auto;
        padding: 0.5rem;
        border-radius: 1rem;
        
    }
    .star{
        align-items: center;
        justify-content: center;
        display: flex;
        gap:0.3rem;
    }
    h2{
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 600;
        text-align: center;
        font-size: 25px;  
        margin-top: 3rem;
    }
    .scroll{
        display: flex;
        scroll-snap-align: start;
        margin-top: 2rem;
        scroll-snap-type: y mandatory;
        overflow: scroll; 
        gap: 1rem;
       
    }
     .cards-scroll{
        padding: 1rem;
       
        height: 2rem;
        background-color:#F5F5F5;
        max-width:300px;
        height: 10rem;
        flex: 0 0 100%;
        scroll-snap-align:start; 
        
    
    }
    .boxtext{
        font-family:"AkkuratMonoRegular",sans-serif;
        color: grey;
        font-size: 13px;
       
        font-weight: 500;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .green{
        background-color:white;
        width: 90%;
        margin: auto;
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 2rem;
    }

    .nums{
        font-size: 26px;
    }
     
    h3{
        margin-top: 2rem;
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 25px;
        font-weight: 300;
    }
    .tag #tag1{
        padding-top: -8rem;
    }

    .p{
        margin-top: 2rem;
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size: 13px;
        line-height: 1.5;
    }
    hr{
        margin-top: 3rem;
    }
    .support-links, .supp{
        text-decoration: none;
        color: black;
        font-family:"AkkuratMonoRegular",sans-serif;
        font-weight: 600;
        font-size: 14px;
       margin-top: 1.5rem;
    }
    .support-link{
     /* display: flex;
     flex-direction: row; */
     display: grid;
     grid-template-columns: 2fr 2fr;
     margin-top: 2rem;
    
    }
  
    .im{
        filter: invert(23);
        position: fixed;
        color: black;
        z-index: -1;
        overflow-y: hidden;
    }
   .support-header{
    font-family:"AkkuratMonoRegular",sans-serif;
   }
   .form-signup{
    background-color: black;
    width: 90%;
    margin: auto;
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 7rem;
}

.form input{
    width: 100%;
    margin-top: 1rem;
}
input{
    padding: 1rem;
    background-color: #292828;
    border: none;
    border-radius: 0.5rem;
    font-family:"AkkuratMonoRegular",sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

input[type="button"],[value="Subscribe"]
{
    font-weight: 300;
    font-size: 17px;
    background-color:#21EBBA;
    color: black;
    font-family:"AkkuratMonoRegular",sans-serif;
    font-weight: 500;
 
}



.h1{
    font-family:"AkkuratMonoRegular",sans-serif;
    color: white;
    font-size: 25px;  
    font-weight: 300;
    margin-top: 1rem;
}

.textss{
    font-size: 13px;
    font-weight: 530;
    color: white;
    font-family:"AkkuratMonoRegular",sans-serif;
}
.text-pop {
    margin-top: 10px;
    color: #21EBBA;
    font-weight: bold;
    
    font-family:"AkkuratMonoRegular",sans-serif;
    display: none; /* Initially hidden */
}

#logo{
   margin-left: 1rem;
    padding-top: 1rem;
}
.start-journey{
    width: 100%;
    margin: auto;
    margin-top: 5rem;
}
.start{
    font-family:"AkkuratMonoRegular",sans-serif;
    font-style: italic; 
    font-size: 20px;
    font-weight: 500;
    margin-top: 1rem;
}

.p-btn {
    margin-top: 0.3rem;
    font-weight: 700;
    font-size: 17px;
    font-family:"AkkuratMonoRegular",sans-serif;
}
.install{
    margin-left: -1rem;
    float: left;
}
#a{
   text-decoration: none;     
}
.start{
   margin-left: 1rem;
}

.img-web{
    display: none;
}

hr{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
footer{
    width: 90%;
    margin: auto;
    margin-top: 3rem;
}
.ol-header{
    font-family:"AkkuratMonoRegular",sans-serif; 
    margin-top: 3rem;
}

.icons{
    display: grid;
   grid-template-rows: 1fr 1fr;
  display: flex;
  gap: 1rem;
  margin-left: -1rem;
    margin-top: 2rem;
}

.every-heade{
    font-family:"AkkuratMonoRegular",sans-serif; 
}

ol,.link{
    color: grey;
    text-decoration: none;
    font-family:"AkkuratMonoRegular",sans-serif; 
    margin-top: 2rem;

}

.ii{
  filter: invert(22);
  color: lightgray;
  opacity: 0.6;
 
}
#desktop-cards{
    display: none;
}
@media (width >= 500px){
    .every-header{
        margin-left: 1.4rem;
        font-size: 45px;
        margin-top: 3rem;
    }
    .card-container{
        width: 450px;
        margin: auto;
}
.heros{
    font-family:"AkkuratMonoRegular",sans-serif;
    font-size: 45px;  
    text-align: center;
    padding: 1rem;
    line-height: 3rem;
    font-weight: 530;
    display: block;
}
.hero{
    display: none;
}
.card-head{
    font-size: 35px;
}
button ,#a{
    width: 300px;
    margin: auto;
}
#aa,.a{
    width: 95%;
    margin: auto;
  
    text-decoration: none;
   
}
.community-header{
    font-size: 27px;
}
.pera-text{
    font-size: 19px;
}
}

@media (width >= 800px){
     .flex{
        display: flex;
        gap: 1rem;
       } 
       
       #subscribeBtn{
        width:10rem ;
    }
    .footer{
     display: grid;
     grid-template-columns:  1fr 1fr 1fr 1fr ;
     gap: 1rem;
    }
    .form-signup{
      padding: 5rem;
      padding-top: 9rem;
      padding-bottom: 9rem;
    }

    input{
       max-width: 35rem;
    }

    h1{
        font-size: 45px;
    }
    .text{
        font-size: 20px;
    }

    h3{
        font-size: 33px;
    }
    .textss{
        font-size: 18px;
    } 
    .p{
       width: 600px;
       font-size: 24px; 
    }
}

@media (width >= 1000px){
    .menus{
        display: none;

    }
    .menu-close{
        display: none;
    }
    nav{
        
    }
    ul{
        text-decoration: none;
    }
    ul ,li{
        text-decoration: none;
    }

    li a ul{
        text-decoration: none;
        font-family:'DMSans', sans-serif;
        font-size: 20px;
    }    
    .ul-wrapper,li{
        float: right;
        display: flex;
        color: black;
        gap: 1rem;
        text-decoration: none;
      
         text-decoration: none;
         font-family:   'DMSans', sans-serif;
         font-size: 18px;
    }
  
    nav ul li a{
        font-size: 15px;
        font-family:   'DMSans', sans-serif;
        margin-top: -1.2rem;
    }

    .heros{
        font-size: 70px;
        font-weight: 500;
        margin: 0.2rem;
        padding-top: 6rem;
        line-height: 1;
    }
    .tp{
        font-size: 20px;
        margin: 3rem;
        font-weight: 700;
        margin-top: 1.3rem;
    }

    .get{
        background-color: #6B46FE;
        color: white;
        padding: 0.7rem;
        margin-top: -0.6rem;
        font-size: 16px;
        font-weight: 600;
        border-radius: 0.3rem;
    }

    .blue{
        color: #6B46FE;;
    }
    .get-explorer{
        background-color: #F5F5F5;
        padding: 0.9rem;
        margin-top: -0.7rem;
        border-radius: 0.2rem;
    }
    .card-flex{
      display: grid;
      flex-direction: row;
      grid-template-columns:1fr 1fr  1fr;
    }
    

   .card-container{
    width: fit-content;
   }
    .tag{
        margin-top:-8rem;
        padding: 0.5rem;
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size:14px ;
        border-radius: 0.5rem;
    }
    .tag1{
        margin-top:-8rem;
        padding: 0.5rem;
        font-family:"AkkuratMonoRegular",sans-serif;
        font-size:14px ;
        border-radius: 0.5rem;
    }

    .img-mobile-screen,.mobile-img{
        display:none;
    }
    .heroes{
        word-wrap: 2rem;
    }
    .img-desktop-screens{
       display: flex;
       
    }
    .img-center{
      display: flex;
      margin: auto;
      object-fit: cover;
    }
    .img-width{
        max-width: 470px;
        min-width: 50%;
        object-fit: contain;
       
    }
 
   
   #width{
    margin-top: 18rem;
   } 
   #card{
    height: 30rem;
   }
   #bg{
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
   }
   .community-bckg{
    padding: 7rem;
    padding-top: 13rem;
    display: flex;
   }
   .flag{
    object-fit: contain;
    margin-right: 2rem;
    margin-top: -5rem;
   }
   .community-background{
  
    
   }
  
   .community-reviews{
    position: relative;
    margin-top: -3rem;
   }
   .start-journey,.community-desk{
    display: none;
   }
   .img{
    background-color:black;
   padding: 1rem;
   margin-top: -15rem;
   border-radius: 1rem;
   gap: 1rem;
   
   width: fit-content;
}
.start-p{
   font-family:"AkkuratMonoRegular",sans-serif; 
   font-size: 23px;
   margin-top: 1rem;
}
.images{
   float:right;
  margin-top: rem;
  gap: 3rem;
  
}
#img1{
   width: 50px;
}
#img{
   width: 49px;
}
.box-container{
   margin-top: 2rem;
}
.desktop{
    padding: 3rem;
}

.green-crypto{
    width: 900px;
    margin: auto;
  
  margin-top: 3rem;

}

.flex-all{
    padding: 3rem;
}

.green{
    display: flex; 
}

.text-width{
    width: 500px;
    margin-top: -2rem;
    margin-left: -3rem;
}

.support-link{
    display: none;
}

.hr{
    display: flex;
    width: 500px;
    margin-left: -4rem;
}


h3{
    font-size: 35px;
}
.p{
    font-size: 20px;
}
#no{
    display: none;
}

.support-links-desk, .supp{
    text-decoration: none;
    color: black;
    font-family:"AkkuratMonoRegular",sans-serif;
    font-weight: 600;
    font-size: 14px;
   margin-top: rem;
}
.support-link-desk{
 display: flex;
 gap: 4rem;
 flex-direction: row; 
 font-family:"AkkuratMonoRegular",sans-serif;
margin-top: 1rem;

}
.link-center{

}
.ul-wrapper1,.right-top,.box-desk-crypto{
    display: none;

}
.ul{
    display: block;
}

.ul1{
    display: none;
}
.card-desktop{
    display: none;
}
.green{
    background-color: white;
    
}
   
}

@media (width >= 1440px){
    .community-reviews{
        width: 800px;
        margin: auto;
        margin-top: -4rem;
    }

    .ul-wrapper1{
       display: flex;
       gap: 2rem;
       text-align: center;
       justify-content: center;
    }

    .left{
       padding-right: -6rem;
    }
   

    .flex{
        display: flex;
      
        
    }
    .text-width{
       
        display: grid;
        grid-template-columns: 2fr 2fr;
    }
    .ul-wrapper{
        display: none;
    }
    .ul1{
        margin-left: -4rem;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: px; 
    }
    .ul1 li{
        font-size: px;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 17px;
        font-weight: 530;
    }
    .right-top{
        display: flex;
        float: right;
        margin-top: -1rem;
        gap: 1rem;
        text-decoration: none;
    }
    #none,a{
        text-decoration: none;
        
    }
    #none{
        padding: 0.5rem;
    }
    .get-explorers{
      background-color: #F5F5F5;
      color: #000;
      margin-top: -0.6rem;

    }
    nav{
        padding: 2rem;

    }
    
    .every-header{
        font-size: 60px;
        width: 50%;
        line-height: 1.6;
        padding-left: 6rem;
    }

    .card-container{
        margin-top: 7rem;
    }

    #card .card-container{
        padding: relative;
      min-width: 900px;
    }
    .card-container{
     
    }

    #bg{
        width: 50%;
    }

    .card-container{
    padding: 3rem;
    }
    .card-flex{
        width: 50%;
        margin: auto;
        display: flex;
        display: none;
    }
   .desktop-cards{
    background-color: white;
    width: 400px;
    border-radius: 2rem;
    margin: auto;
 
  
   }
   .card-desktop{
    margin:50px auto;
    width: fit-content;
   gap: 1rem;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr; 

   }
  
  
   .desk-card-head{
    font-size: 30px;
    padding: 2rem;
    margin-top: 2rem;
    font-weight: 700;
    font-family:"AkkuratMonoRegular",sans-serif;
   }
   .imbg{
    display: flex;
    margin: auto;
    width: 85%;
   }
   .desk-p{
    font-size: 20px;
    font-family:"AkkuratMonoRegular",sans-serif;
    padding: 2rem;
   }
   #cc{
    display: none;
   }
   .tp{
        width: 800px;
        text-align: center;
        margin: auto;
        font-size: 23px;
        line-height: 1.5;
   }
   .img-center{
    width: 90%;
   }
   #width{
    margin-bottom: -8rem;
   }

   #swap{
        margin-top: rem;
   }
   #large-card{
    width: 400px;

    padding-bottom: 3rem;
   }
   #desktop-cards{
       display: block;
       

   }
   .desk-flex{
    display: flex;
    background-color: #9E92F4;
        width: 80%;
        margin: auto;
        margin-bottom: -9rem;
        margin-top: 4rem;
        padding: 3rem;
        position: relative;
        border-radius: 1rem;
       padding-bottom: 6rem;
   }

   #desk-card-head1{
    font-size: 40px;
    font-family:"AkkuratMonoRegular",sans-serif;
    font-weight: 600;
    padding-top: 1rem;
   }
   .icbg{
   position: relative;
   margin-left: 8rem;
    margin-top: 4rem;
   margin-bottom: -15rem;
   width: 500px;
   }
   .bold-text{
    margin-top: 8rem;
    font-size: 22px;
    font-weight: 700;
    font-family:"AkkuratMonoRegular",sans-serif;
   }

   .btn {
        text-decoration: black;
        width: fit-content;
        padding: 1rem;
        float: left;
        font-size: 18px;
        margin-top: 1rem;
        text-decoration: none;
        font-weight: 700;

   }
   .community-bckg{
    display: none;
   }
   .community{
    background-color: black;
    padding: 6rem;
    margin-top: 3rem;
    display: flex;
    
   }
   .community-desk{
    display: block;
    padding:7rem ;
    padding-bottom: 12rem;
   }
   .community-header{
    font-size: 40px;
    margin-top: -3rem;
   }
   .flag{
    margin-left: -3.5rem;
    margin-top: 3rem;
   } 
.pera{
    color: white;
   font-family:"AkkuratMonoRegular",sans-serif;
    font-size: 25px;
    font-weight: 800;
    margin-left: 3rem;
}
   #pera{
    width: 550px;
    float: left;
   }
   .pera-text{
    font-size: 25px;
    
   }
   .roadmap-link{
    text-align: center;
    float: right;
    font-family:"AkkuratMonoRegular",sans-serif;
    background-color: #6B46FE;
    width: fit-content;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    padding: 1rem;
    color: white;
    background-color: grey;
   }
  .green{
    display: none;
  }
  .community-reviews{
    width: 80%;
    margin-top: -6rem;
  }
  nav ul li a{
    font-size: 19px;
  }
  .box-desk-crypto{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 5rem;
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .box-1{
   display: grid;
   grid-template-columns:1fr 1fr 1fr auto;
  }
  .box-header{
    font-family:"AkkuratMonoRegular",sans-serif;
    font-size: 40px;
    width: 500px;
   margin-left: -15rem;
   
   
  }
  #box-text{
    font-family:"AkkuratMonoRegular",sans-serif;
    font-size: 26px;
    margin-left: -5rem;
    line-height: 1.5;
  }
  .hr{
    width: 100%;
  }
   /* h3{
        width: 500px;
   }
   .p{
    width: 500px;
    margin-left: rem;
    padding: 1rem;
    font-size: 22px;
   }
   #p{
    margin-top: -1rem;
    float: right;
    margin-left: 11rem; 
   }*/
  
  .h1{
    font-size: 40px;
  }
  .textss{
    font-size: 28px;
  }

  ol a{
    font-size: 21px;
  }
  .ol-header{
    font-size: 24px;
  }


}

@media (width <= 999px){
   .img-desktop-screens{
    display: none;
   }
    .img-web,.ul-wrapper1,.ul-wrapper,.ul1{
        display: none;
    }
    .right-top,.left{
        display: none;
    }
    #none{
        display: none;
    }
    .ul{
        display: flex;
    }
    hr{
        display: flex;
    }
    .box-desk-crypto{
display: none;
    }
    
   
}
    @media (max-width:999px){
        .checkbtn{
            display: block;
           
        }
        #none{
            display: none;
        }
       
        .desktop,.support-link-desk{
            display: none;
        }
        .desktop-cards{
            display: none;
        }
        
      .right-top{
       display: none;
      }
      
    .ul,.ul-wrapper{
    display: block;
        
    /*  position:absolute;
     width: 100%;
     height: 100vh;
     background:black;
     
     text-align: right;
    
     transition:  all 0.5s; */
    }
    .community-desk{
        display: none;
    }
    
    ul{
        position:fixed;
        height: 100vh;
        width: 100%;
        background-color: rgb(46, 45, 45);
        right:0;
        left: -100%;
        top: 0rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
         text-align:start;
         background-color:white;
         font-family: 'Epilogue', sans-serif;
         transition: all 0.5s ;
      
         
        }
    
        .menu-items{
            overflow: scroll;
      scroll-snap-align: y mandatory;
      scroll-snap-type: mandatory;
            
        }
        .menu-items::-webkit-scrollbar{
            display: none;
        }
    
    .span{
        margin-top: 3rem;
        font-size: 12px;
        color: grey;
        font-weight: 700;
        margin-left: 3rem;
    }

    .hr{
        display: none;
    }
    
    
    nav ul li a{
        display:block;
        margin: 35px 0px;
        line-height: 1px;
        font-size: 25px;
        color: rgb(0, 0, 0);
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        list-style:none;
        margin-top: 4rem;
        margin-left: 3rem;
    }
    
    li{
        list-style: none;
    }
    
    .btn{
        width: 100%;
        display: flex;
    }
    ul li a{
        font-size:16px;
        
    }
    
    
    #check:checked ~ ul{
        left: 0;
    }
    }
    

    
    
   